.Login{
    height: 100%;
    width: 100%;
    background-color: #0081ba;
    /* background-color: aqua; */
    display: flex;

}
.Login_image{
    height: 100%;
    width: 50vw;
    background-image: url(../../assets/images/login.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    /* position: relative; */

}
.moto{
    font-size: 3vw;
    color: rgb(35, 35, 35);
    text-align: center;
    position: relative;
    top: 20%;
    
}
.moto_change{
    /* display: block; */
    height: 10px;
    width: 10px;
    color: black;
}

.Login_form{
    height: 100%;
    width: 50%;
    background-color: white;

    

    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}
.Login_form_heading{
    height: 10%;
    width: 50%;
    /* background-color: rgb(19, 163, 52); */
    font-size: 1vw;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    flex-direction: column;

    

    
}
.company_name_login{
    font-size: 3.8vw;
}
.developedby{
    font-size: 0.6vw;
}
.line{
    /* margin: 5%; */
    width: 40%;
    border: 1px solid;

}

.Sign_in_option{
    /* margin-top: 5%; */
    height: 20%;
    width: 50%;
    /* background-color: rgb(80, 55, 179); */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sign_in_heading{
    height: 100%;
    width: 100%;
    

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    /* background-color: antiquewhite; */
    
}
.Sign_in_p{
    height: fit-content;
    width: 90%;
    font-size: 2vw;
    /* background-color: antiquewhite; */
}
.Sign_in_a{
    height: 20%;
    width: 15vw;
    
    border-radius: 3px;
    color: rgba(0, 0, 255, 0.7);
    margin-top: 2%;
    
    font-size: 1vw;
    text-decoration: underline;

    transition: 0.3s ease;

}
.Sign_in_a:hover{
    letter-spacing: 1px;
}
.Login_form_action{
    height: 40%;
    width: 50%;
    
    
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: column;
    /* background-color: aqua; */
}
.form_content{
    height: 80%;
    width: 100%;
    

    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
}
.heading_signin_sub{
    font-size: 1vw;
    background-color: inherit;
    padding: 0 1%;
    position: relative;
    top: 0.5vw;
    
    

}
label{
    font-size: 1vw;
    margin-top: 1vw;
}
.input{
    height: 20%;
    width: 80%;
    
    background-color: rgb(255, 255, 255);
    border-radius: 3px;

    padding-left: 10%;
    

    font-size: 1vw;
    border: 1px solid;
    
    
    
}
.input:focus{
    /* background-color: rgb(244, 244, 244); */
    border: 1px solid rgba(0, 0, 255, 0.7);
    box-shadow: 0px 2px 1px rgba(0, 0, 255, 0.6);
}

.Login_FP{
    text-align: end;
    margin: 3% 10%;
    transition: 0.3s ease;
}
.Login_FP:hover{
    letter-spacing: 0.5px;
}

.Login_button{
    
    height: 15%;
    width: 90%;
    background-color: rgba(0, 0, 255, 0.7);
    
    border: none;
    border-radius: 3px;
    transition: 0.3s ease;
}
.Login_button:active{
    background-color: rgba(0, 0, 255, 0.4);
    
}
.Login_button:hover{
    letter-spacing: 2px;
}
a{
    color: black;
    text-decoration:underline;
}
