.SubTodoCreate{
    height: 100%;
    width: 90%;
    background-color: rgb(43,43,46);

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    flex-direction: column;
}

.inp{
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    /* background-color: aliceblue; */
}
.SubTodoCreate_input{
    height: 80%;
    width: 70%;
    display: flex;
    font-size: 20px;
    padding-left: 5%;
    border-radius: 25px;
}
.SubTodoCreate_datepicker{
    height: 35px;
    width: 35px;

    font-size: 35px;
    background: inherit;

}

.tags_create{
    height: 50%;
    width: 100%;
    

    
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;

    font-size: 1vw;

    /* border: 2px solid; */
}
.tags_create_tags{
    height: 80%;
    width: 100%;
    

    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 5%;
}



.tags_create_tags > *{
    margin-left: 5%;
}
.deadline{
    
    
    padding: 1%;
    border-radius: 10px;

}
.SubTodoCreate_add{
    height: 100%;
    width: 20%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}


